
.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}

.toggle-buttons button {
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px; 
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.toggle-buttons button.active {
    background-color: #3700b3;
}

.toggle-buttons button:hover {
    background-color: #4500ce;
}


form {
    display: none;
    flex-direction: column;
    align-items: center;
}

form.active {
    display: flex; 
}

form input, form select {
    margin: 10px 0;
    padding: 10px;
    font-size: 14px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #4500ce;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #f4f4f4;
}